{% extends "layout.html" %}

{% block content %}

<h3>My Favourites</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

{% if message %}
<h5>{{ message }}</h5>
{% endif %}

<main>
    {% if favourites %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Recipe</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="favourites_tbody">
                {% for fav in favourites %}
                <tr>
                    <td><form action="/recipe/view/{{ fav.recipe_id }}" method="get"><button id="btn_recipe_id" class="btn">{{ fav.recipe_name }}</button></form></td>
                    <td class="p-1 align-right" style="width:1%;white-space:nowrap"><img class="rounded" src="{{ fav.recipe_image }}" alt="Mmm, yum yum" style="max-width: 250px; height: auto; display: block;" /></td>
                    <td><small id="favourite_id" value="{{ fav.favourite_id }}" style="display:none"></small></td>
                    <td><form action="/favourite-recipe/{{ fav.recipe_id }}/user/{{ fav.user_id }}/delete/{{ fav.favourite_id }}" method="post"><button id="btn_fav-delete_id" class="btn"><img id="DeleteGif" src="/static/trash-xmark.png" alt="Delete" /></button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <p>You dont have any favourites &#9785</p>
    {% endif %}
</main>
<!--TODO attribution: <a href="https://www.flaticon.com/free-animated-icons/food-waste" title="food waste animated icons">Food waste animated icons created by Freepik - Flaticon</a>-->
{% endblock %}