{% extends "layout.html" %}

{% block content %}

<h3>My Favourites</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

{% if message %}
<h5>{{ message }}</h5>
{% endif %}

<main>
    {% if favourites %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Recipe</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="favourites_tbody">
                {% for fav in favourites %}
                <tr>
                    <td><form action="" method="get"><button id="btn_recipe_id" class="btn">{{ fav.recipe_name }}</button></form></td>
                    <td class="p-1 align-right" style="width:1%;white-space:nowrap"><img class="rounded" src="{{ fav.recipe_image }}" alt="Mmm, yum yum" style="max-width: 250px; height: auto; display: block;" /></td>
                    <td><small id="recipe_id" value="{{ fav.recipe_id }}" style="display:none"></small></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <p>You dont have any favourites &#9785</p>
    {% endif %}
</main>

{% endblock %}