{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    {% if session['user_id'] %}
    <h2 class="mb-4">
        Welcome back, {{ session['first_name'] }}! Ready to cook something awesome?
    </h2>

    {% endif %}
</div>

<div class="row">
        
    <div class="col-md-12">
        <h4>Lets get started!</h4>
        <p>
            Find your first recipe.
        </p>

        <form action="/search" method="post" class="row g-1">

            <div class="justify-content-center mb-2">
                <label class="label-register">Keyword</label>
                <input autofocus class="form-control w-auto" name="keyword" placeholder="Pizza" type="text">
            </div>
        </form>

            {% if recipes %}
            <h4>How about one of the following...</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, recipe in recipes.items() %}
                    <tr>
                        <td>{{ recipe.title }}</td>
                        <td><img class="rounded" src="{{ recipe.image }}" alt="Mmm, yum yum" /></td>
                        <td>
                            <a href="/recipe/view/{{ recipe.id }}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h5>Didn't find something you liked? How about we have a better look...</h5>
            <a class="btn btn-primary" href="">Lets go!</a>
            {% elif invalid_response %}
            <h4>Uh oh.. No results found!!</h4>
            <img src="https://c.tenor.com/lx2WSGRk8bcAAAAd/tenor.gif" alt="Computer man" style="width:250px;height:250px;">
            {% endif %}
    </div>
</div>

{% endblock %}
