{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    {% if session['user_id'] %}
    <h2>Welcome back {{ session['first_name'] }} </h2>
    {% endif %}
</div>

<div class="row">
        
    <div class="col-md-12">
        <h2>My receipes</h2>
        <p>
            Find your first recipe.
        </p>

        <form action="/login" method="post" class="row g-1">

            <div class="justify-content-center mb-2">
                <label class="label-register">Keyword</label>
                <input autofocus class="form-control w-auto" name="keyword" placeholder="Pizza" type="text">
            </div>

        </form>

    </div>
</div>

{% endblock %}
