{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    {% if session['user_id'] %}
    <h2 class="mb-4">
        Welcome back, {{ session['first_name'] }}! Ready to cook something awesome?
    </h2>

    {% endif %}
</div>

<div class="row">
        
    <div class="col-md-12">
        <h4>Lets get started!</h4>
        <p>
            Find your first recipe.
        </p>

        <form action="/search" method="post" class="form-inline">

            <div class="row g-3">

                <label for="searchKeywordInput">Keyword</label>
                <input autofocus id="searchKeywordInput" class="form-control w-auto" name="keyword" placeholder="Pizza" type="text">
                <button class="btn btn-primary mb-2" type="submit">Search</button>

                <div class="form-check form-switch">
                    <input id="advanced_search_toggle_id" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="advanced_search_toggle_id">Advanced search</label>
                </div>

            </div>

                <div id="advanced_search_container" class="row g-3" style="display:none">

                    <ul id="intolerances_id" class="list-group">
                        <li class="list-group-item">
                            <input name="intolerances" class="form-check-input me-1" type="checkbox" value="Gluten">
                            Gluten free
                        </li>
                        <li class="list-group-item">
                            <input name="intolerances" class="form-check-input me-1" type="checkbox" value="Peanuts">
                            Peanuts
                        </li>
                        <li class="list-group-item">
                            <input name="intolerances" class="form-check-input me-1" type="checkbox" value="Eggs">
                            Eggs
                        </li>
                        <li class="list-group-item">
                            <input name="intolerances" class="form-check-input me-1" type="checkbox" value="Dairy">
                            Dairy Free
                        </li>
                        <li class="list-group-item">
                            <input name="intolerances" class="form-check-input me-1" type="checkbox" value="Seafood">
                            Seafood
                        </li>
                    </ul>

                </div>

        </form>

            {% if recipes %}
            <h4>How about one of the following...</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, recipe in recipes.items() %}
                    <tr>
                        <td>{{ recipe.title }}</td>
                        <td><img class="rounded" src="{{ recipe.image }}" alt="Mmm, yum yum" /></td>
                        <td>
                            <a href="/recipe/view/{{ recipe.id }}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h5>Didn't find something you liked? How about we have a better look...</h5>
            <a class="btn btn-primary" href="">Lets go!</a>
            {% elif invalid_response %}
            <h4>Uh oh.. No results found!!</h4>
            <img src="https://c.tenor.com/lx2WSGRk8bcAAAAd/tenor.gif" alt="Computer man" style="width:250px;height:250px;">
            {% endif %}
    </div>
</div>

<script>

    $(function () {
        var toggle = $("#advanced_search_toggle_id");
        toggle.click(function () {
            var search_list = document.getElementById("advanced_search_container");

            if (toggle.is(':checked')) {
                search_list.style.display = "block";
            }
            else {
                search_list.style.display = "none";
            }

        });
    });
</script>

{% endblock %}
