<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Whats4Dinner</title>
    <link href="/static/content/site.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>-->

</head>

<body>

    <!-- Toast Container -->
    <!--# Code assistance by ChatGPT (OpenAI), prompted on June 4, 2025
        # Prompt: "Implement a reuseable pop up message for user feedback with javascript/jquery"-->
    <div id="popupMessage" style="display:none;" class="alert_popup">
        <p id="popupText"></p>
    </div>


    <div id="myModal" class="modal-div">
        <div id="login-popup" class="modal-login_popup">
            <span class="close">&times;</span>
            <label for="username_id" class="form-label">Username:</label>
            <input id="username_id" type="text" name="username" style="max-width:none; width:400px" class="form-control">
            <div id="username_feedback" class="invalid-feedback">
                Please enter a valid email.
            </div>
            <label for="password_id" class="form-label">Password:</label>
            <input id="password_id" type="password" name="password" style="max-width:none; width:400px" class="form-control">
            <div id="password_feedback" class="invalid-feedback">
                Please enter a valid password.
            </div>
            <br />
            <input id="id_btn-submit_login-popup" type="submit" value="Login" class="btn btn-primary">
            <input id="id_btn-submit-register-popup" type="submit" value="Register" class="btn btn-secondary">
        </div>
    </div>

    <header class="header-band">
        <div class="container d-flex align-items-center">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img src="/static/knife.svg" alt="knife and fork on plate" height="50" width="50" class="me-2" />
                <h1 class="fs-4 mb-0">Whats4Dinner</h1>
            </a>
        </div>
    </header>

    <!-- Nav Section -->
    {% if session["user_id"] %}
    <div style="padding-bottom:20px">
        <!--class="nav-band"-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed; width:100%; top:82px; z-index:1500">
            <!--navbar navbar-expand-lg navbar-light bg-light-->
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="profile_link_id" class="nav-link" href="/profile/user/{{ session.user_id }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <sub id="user_id" style="display:none">{{ session.user_id }}</sub>
        </nav>
    </div>
    {% else %}
    <div style="padding-bottom:20px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed; width:100%; top:82px;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endif %}

    <div class="col-lg-8 mx-auto p-3 py-md-5">

        <main>
            {% block content %}{% endblock %}
            <hr />
        </main>

        <!--<footer>
            <p>&copy; {{ year }} - Whats4Dinner</p>
            <a href="https://www.flaticon.com/free-icons/fork" title="fork icons">Fork icons created by Freepik - Flaticon</a>
        </footer>-->

        <footer class="footer-band">
            <div class="container">
                <p class="mb-1">&copy; {{ year }} - Whats4Dinner</p>
                <small><a href="https://www.flaticon.com/free-icons/fork" class="text-white text-decoration-underline" title="fork icons">Fork icons by Freepik - Flaticon</a></small>
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </div>

    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

    <script>

        $(function () {
            $("#id_btn-submit_login-popup").click(function () {
                let email = $("#username_id").val();
                let password = $("#password_id").val();
                let recipe_id = $("#recipe_id").val();

                // Validate user input
                if (!email) {
                    $("#username_id").addClass("is-invalid");
                    return;
                }
                if (!password) {
                    $("#password_id").addClass("is-invalid");
                    return;
                }

                // Call app route
                $.post("/login/modal/user/" + email + "/password/" + password, function (data, status) {
                    // Route is successful
                    if (status === "success") {
                        $("#username_id").removeClass("is-invalid").addClass("is-valid");
                        $("#password_id").removeClass("is-invalid").addClass("is-valid");
                        location.reload();
                    }
                    else {
                        // Route is unsuccessful
                        window.alert("Fail");
                    }

                });

            });
        });
    </script>

    <script>
        function showMessage(message, duration = 3000) {
            $("#popupText").text(message);
            $("#popupMessage").fadeIn();

            setTimeout(function () {
                $("#popupMessage").fadeOut();
            }, duration);
        }
    </script>

    <!--<script>
        $(function () {
            $("#profile_link_id").click(function () {
                let user_id = $("#user_id").text();
                console.log("User ID:", user_id);
                window.location.href = "/profile/user/" + user_id;
            });
        });
    </script>-->

</body>
</html>
