{% extends "layout.html" %}

{% block content %}

<h3>Login</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% elif new_user %}

<div class="text-success" style="text-col">
    {{ new_user }}
</div>
<hr />

{% elif login_prompt %}

<div class="text-primary" style="text-col">
    {{ login_prompt }}
</div>
<hr />

{% endif %}

<form action="/login" method="post" class="row g-1">

    <div class="justify-content-center mb-2">
        <label class="label-register">Please enter your email address</label>
        <input autocomplete="off" autofocus class="form-control w-auto" name="email" placeholder="hello@world.com" type="email">
    </div>

    <div class="justify-content-center mb-2">
        <label class="label-register">Please enter a password</label>
        <input class="form-control w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="justify-content-center mb-2">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>

{% endblock %}