{% extends "layout.html" %}

{% block content %}

<h3>Meal Plan</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

{% if message %}
<h5>{{ message }}</h5>
{% endif %}

<main>

    <div>
        <p>Date: <input type="date" id="date_picker"></p>
    </div>

    <div id="meal_plan_container" class="container">
        <div class="row">
            <div class="col">
                Sunday
            </div>
            <div class="col">
                Monday
            </div>
            <div class="col">
                Tuesday
            </div>
            <div class="col">
                Wednesday
            </div>
            <div class="col">
                Thursday
            </div>
            <div class="col">
                Friday
            </div>
            <div class="col">
                Saturday
            </div>
        </div>
        <div class="row">

        </div>

     

    </div>

</main>
{% endblock %}
{% block footer %}
<a href="https://www.flaticon.com/free-icons/food-waste" title="food-waste icons" target="_blank" rel="noopener noreferrer">Food-waste icons created by Freepik - Flaticon</a>
{% endblock %}

{% block scripts %}

<script>

    $(function () {

        $("#date_picker").on('change', function () {

            let selectedDate = $(this).val();
            let user_id = $("#user_id").text();            

            $.post("/profile/user/" + user_id + "/mealplan/" + date_selected,
                {
                    user_id: user_id,
                    date_selected: selectedDate
                })

                .done(function (response) {
                    showMessage("Recipe removed");
                })

                .fail(function (response) {
                    showMessage("Error" + xhr.responseText);
                })
           
        });


    });

</script>

{% endblock %}