{% extends "layout.html" %}

{% block content %}

<h3>Meal Plan</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

{% if message %}
<h5>{{ message }}</h5>
{% endif %}

<main>

    <div>
        <p>Date: <input type="date" id="date_picker"></p>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Monday</h5>
                {% for meal in mealPlan %}
                {% if "Monday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[0] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Tuesday</h5>
                {% for meal in mealPlan %}
                {% if "Tuesday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[1] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Wednesday</h5>
                {% for meal in mealPlan %}
                {% if "Wednesday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[2] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Thursday</h5>
                {% for meal in mealPlan %}
                {% if "Thursday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[3] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Friday</h5>
                {% for meal in mealPlan %}
                {% if "Friday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[4] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Saturday</h5>
                {% for meal in mealPlan %}
                {% if "Saturday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.mealID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[5] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Sunday</h5>
                {% for meal in mealPlan %}
                {% if "Sunday" in meal.dayOfWeek %}
                <sub style="visibility:hidden">{{ meal.ID }}</sub>
                <img src="{{ meal.mealImage }}" class="card-img-top" alt="Mmm, yum yum">
                <div class="card-body">
                    <h6 class="card-title">{{ meal.mealName }}</h6>
                    <sub>{{ meal.mealID }}</sub>
                    <div class="container bg-light">
                        <div class="row">
                            <div class="col-auto">
                                <button onclick="deleteMeal('{{ meal.ID }}', '{{ meal.userID }}')" class="btn">&#128465</button>
                            </div>
                            <div class="col-auto">
                                <a href="/recipe/view/{{ meal.mealID }}" class="btn">&#128269</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-footer text-muted">
                    {{ dateRange[6] }}
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
{% block footer %}
{% endblock %}

{% block scripts %}

<script>

    $(function () {

        $("#date_picker").on('change', function () {

            let selectedDate = $(this).val();
            let user_id = $("#user_id").text();

            showMessage("Date selected:" + selectedDate);

            window.location.href = "/profile/user/" + user_id + "/mealplan/" + selectedDate;

        });

    });

    function deleteMeal(mealID, userID) {

        // Show the loader before the AJAX call
        $("#loadingOverlay, #loadingGif").show();

        $.post("/profile/user/" + userID + "/mealplan/" + mealID + "/delete", {
            mealID: mealID,
            userID: userID
        })
            .done(function (response) {
                showMessage("Meal removed from plan successfully");
                location.reload(); // Reload the page to reflect changes
            })
            .fail(function (error) {
                showMessage("Error deleting meal: " + error.responseText);
            })
            .always(function () {
                // Hide the loader after the AJAX call completes
                $("#loadingOverlay, #loadingGif").hide();
            });
    }

</script>

{% endblock %}