{% extends "layout.html" %}

{% block content %}

<h3>Personal details</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% endif %}
<h3>Hi {{ session['first_name'] }}, <span class="fst-italic">Welcome to your account</span></h3>
<br />
<h5>Change password:</h5>
<div class="justify-content-center mb-2">
    <label class="label-register">Please enter your current password:</label>
    <input id="password_current_id" name="password_current_name" autocomplete="off" autofocus type="password" class="form-control w-auto" />
</div>
<div class="justify-content-center mb-2">
    <label class="label-register">Please enter a new password:</label>
    <input id="password_new_id" name="password_new_name" autocomplete="off" autofocus type="password" class="form-control w-auto" />
</div>
<div class="justify-content-center mb-2">
    <label class="label-register">Please confirm your new password:</label>
    <input id="password_conf_id" name="password_conf_name" autocomplete="off" autofocus type="password" class="form-control w-auto" />
</div>
<div class="justify-content-center mb-2">
    <button id="btn_submit_id" class="btn btn-primary" type="submit">Submit</button>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#btn_submit_id").click(function () {
            // Retrieve parameters
            let user_id = user_id;
            let psw_curr = $("#password_current_id").val();
            let psw_new = $("#password_new_id").val();
            let psw_conf = $("#password_conf_id").val();
            // Post to app route
            $.post("/profile/user/" + user_id + "/password",
                {
                    psw_curr: psw_curr,
                    psw_new: psw_new,
                    psw_conf: psw_conf
                })
                .done(function (response) {
                    showMessage(response.message);
                })
                .fail(function (xhr) {
                    let message = xhr.responseJSON?.message || "Unknown error";
                    showMessage("Error: " + message);
                })
        });
    });
</script>
{% endblock %}