{% extends "layout.html" %}

{% block content %}

<h3>Personal details</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% endif %}
<h3>Hi {{ session['first_name'] }}, <span class="fst-italic">Welcome to your account</span></h3>
<br />
<h5>Change password:</h5>
<div class="justify-content-center mb-2">
    <label class="label-register">Please enter your current password:</label>
    <input id="password_current_id" name="password_current_name" autocomplete="off" autofocus type="password" class="form-control w-auto" />
</div>
<div class="justify-content-center mb-2">
    <label class="label-register">Please enter a new password:</label>
    <input id="password_new_id" name="password_new_name" autocomplete="off" autofocus type="password" class="form-control w-auto" />
</div>
<div class="justify-content-center mb-2">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>

{% endblock %}