{% extends "layout.html" %}

{% block content %}

<h3>User Profile</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

<main>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">My Stuff</h4>
                </div>
                <div class="card-body">
                    <form action="/profile/user/{{ session.user_id }}/favourites" method="get">
                        <button class="btn btn-primary mb-2" type="submit">Favourite recipes</button>
                    </form>
                    <form action="/profile/user/mealplan" method="get">
                        <button class="btn btn-primary mb-2" type="submit">Meal plan</button>
                    </form>
                    <form action="/profile/user/shoppinglist" method="get">
                        <button class="btn btn-primary mb-2" type="submit">Shopping list</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Profile</h4>
                </div>
                <div class="card-body">
                    <form action="/profile/user/{{ session.user_id }}/password" method="get">
                        <button id="btn_password_id" class="btn btn-primary mb-2" type="submit">Change password</button>
                    </form>
                    <form action="/profile/user/emailchange" method="get">
                        <button class="btn btn-primary mb-2" type="submit">Change email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block scripts %}
{% endblock %}