{% extends "layout.html" %}

{% block content %}

<h3>User Profile</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% endif %}

<main>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">My Stuff</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="mb-2"><a class="btn btn-primary" href="">Favourite recipes</a></li>
                        <li class="mb-2"><a class="btn btn-primary" href="">Meal plan</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Profile</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="mb-2"><a class="btn btn-primary" href="">Change password</a></li>
                        <li class="mb-2"><a class="btn btn-primary" href="">Change email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}