{% extends "layout.html" %}

{% block content %}

<h3>Recipe</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% endif %}

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="p-2">
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form action="/search/detail" method="post">
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="search_1">
            </form>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panelsStayOpen-headingOne">
                                Ingredients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panelsStayOpen-headingTwo">
                                Instructions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panelsStayOpen-headingThree">
                                Nutrition
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panelsStayOpen-headingFour">
                                Similar recipes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panelsStayOpen-headingFive">
                                Wine pairing
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ recipes.title }}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-primary" name="btn_favourite" id="btn_favourite_id">Add Favourite</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                    </div>
                </div>
                {% if recipes %}
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <img class="rounded" src="{{ recipes.image }}" />
                        <p id="recipe_id" class="fs-10 fw-light fst-italic">{{ recipes.id }}</p>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/food-preparation-_1_.svg" alt="Preparation time:" height="50" width="50" title="Preparation time" />
                            <p class="flex-grow-1">{{ recipes.preparationMinutes }}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/cooking.svg" alt="Cooking time:" height="50" width="50" title="Cooking time" />
                            <p class="flex-grow-1">{{ recipes.cookingMinutes }}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/knife.svg" alt="Ready in:" height="50" width="50" title="Ready in" />
                            <p class="flex-grow-1">{{ recipes.readyInMinutes }}</p>
                        </div>
                        <div class="d-inline-flex">
                            {% if dairyFree == True %}
                            <img class="flex-grow-1 py-1" src="/static/dairy-free.svg" alt="Dairy Free" height="50" width="50" title="Dairy Free" />
                            {% endif %}
                            {% if glutenFree == True %}
                            <img class="flex-grow-1 py-1" src="/static/gluten-free_1.svg" alt="Gluten Free" height="50" width="50" title="Gluten Free" />
                            {% endif %}
                            {% if vegan == True %}
                            <img class="flex-grow-1 py-1" src="/static/vegan_1.svg" alt="Vegan" height="50" width="50" title="Vegan" />
                            {% endif %}
                            {% if vegetarian == True %}
                            <img class="flex-grow-1 py-1" src="/static/vegetables.svg" alt="Vegetarian" height="50" width="50" title="Vegetarian" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <!--Accordion item one-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Ingredients
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Item</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if recipes %}
                                            {% for ingredient in recipes.extendedIngredients %}
                                            <tr>
                                                <td>{{ ingredient.name }}</td>
                                                {% if ingredient.measures.us.amount and ingredient.measures.metric.amount %}
                                                {% if ingredient.measures.us.amount != ingredient.measures.metric.amount %}
                                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }} ({{ ingredient.measures.metric.amount }} {{ ingredient.measures.metric.unitShort }})</td>
                                                {% else %}
                                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }}</td>
                                                {% endif %}
                                                {% else %}
                                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }}</td>
                                                {% endif %}
                                                <td><img class="rounded" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredient.image }}" /></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Accordion item two-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button id="btn_instructions" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                Instructions
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <h2>Instructions</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Step</th>
                                            </tr>
                                        </thead>
                                        <tbody id="instructions_tbody">
                                            {% if instructions %}
                                                {% for number, instruction in instructions.items() %}
                                                <tr><td>{{ instruction.number }}</td><td>{{ instruction.step }}</td></tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Accordion item three-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button id="btn_nutrition" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                                Nutrition
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <h2>Nutrition</h2>
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">% Daily</th>
                                            </tr>
                                        </thead>
                                        <tbody id="nutrition_tbody">
                                            {% if nutrition %}
                                                {% for n in nutrition %}
                                                <tr><td>{{ n.name }}</td><td>{{ n.amount }}{{ n.unit }}</td><td>{{ n.percentOfDailyNeeds }}%</td></tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Accordion item four-->
                    <div class="accordion-item">
                        <!--Similar recipes-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                                Similar recipes
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <h2>Similar recipes</h2>
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Recipe</th>
                                            <th scope="col">Ready in (min)</th>
                                            <th scope="col">Servings</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    {% if similar %}
                                    <tbody>
                                        {% for s in similar %}
                                        <tr>
                                            <td>{{ s.title }}</td>
                                            <td>{{ s.readyInMinutes }}</td>
                                            <td>{{ s.servings }}</td>
                                            <td>
                                                <form action="/recipe/view" method="post">
                                                    <input type="hidden" name="recipe_id" value="{{ s.id }}">
                                                    <button class="btn btn-primary" type="submit">View</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Accordion item five-->
                    <div class="accordion-item">
                        <!--Wine pairing-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
                                Wine pairings
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <h2>Wine pairings</h2>
                            {% if wine_pair %}
                                <h4>{{ wine_pair.pairingText }}</h4>
                                <ul>
                                    {% for w in wine_pair['pairedWines'] %}
                                    <li>{{ w }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

<script>

    $(function () {

        $("#btn_favourite_id").click(function () {

            // This worked. ;)
            //$("#btn_favourite_id").text("Favourited");

            // This should work. 
            if ($("#btn_favourite_id").text() == "Add Favourite") {
                // Next step would be to do an ajax call to the server.

                $("#btn_favourite_id").text("Favourited");

                //$.post("/favourite-recipe",
                //{
                //    user_id: 1,
                //    recipe_id: 1234
                //},
                //function (data, status) {
                //    $("#btn_favourite_id").text("Favourited");
                //});
            }
            else {
                $("#btn_favourite_id").text("Add Favourite");
                
                //$.post("/unfavourite-recipe",
                //    {
                //        user_id: 1,
                //        recipe_id: 1234
                //    },
                //    function (data, status) {
                //        $("#btn_favourite_id").text("Add Favourite");
                //    });
            }

        });  

        $("#btn_instructions").click(function () {

            // AJAX Call to Get our Data. This will do an API call.
            if ($("#recipe_id").text() != null) {

                let recipe_id = $("#recipe_id").text();

                $.get("/recipe/instructions/" + recipe_id, function (data) {

                    console.log(data);

                    if ($.isArray(data)) {
                        // Iterate over an array
                        $.each(data, function (index, value) {
                            $("#instructions_tbody").append("<tr><td>" + value.number + "</td><td>" + value.step + "</td></tr>");
                        });
                    } else if ($.isPlainObject(data)) {
                        // Iterate over an object
                        $.each(data, function (key, value) {
                            // Do something with key and value
                            // console.log(key + ': ' + value);
                            $("#instructions_tbody").append("<tr><td>" + value.number + "</td><td>" + value.step + "</td></tr>");
                        });
                    } else {
                        // Handle other data types or errors
                        console.log('Data is not an array or object.');
                    }
                }).fail(function () {
                    console.log('An error occurred.');
                });
            }
        });

        $("#btn_nutrition").click(function () {

            // AJAX Call to Get our Data. This will do an API call.
            if ($("#recipe_id").text() != null) {

                let recipe_id = $("#recipe_id").text();

                $.get("/recipe/nutrition/" + recipe_id, function (data) {

                    console.log(data);

                    if ($.isArray(data)) {
                        // Iterate over an array
                        $.each(data, function (index, value) {
                            // Format percentOfDailyNeeds to two decimal places
                            let percent = value.percentOfDailyNeeds;
                            let percentFixed = percent.toFixed(2);
                            $("#nutrition_tbody").append("<tr><td>" + value.name + "</td><td>" + value.amount + value.unit + "</td><td>" + percentFixed + "%</td></tr>");
                        });
                    } else if ($.isPlainObject(data)) {
                        // Iterate over an object
                        $.each(data, function (key, value) {
                            // Do something with key and value
                            // console.log(key + ': ' + value);
                            // Format percentOfDailyNeeds to two decimal places
                            let percent = value.percentOfDailyNeeds;
                            let percentFixed = percent.toFixed(2);
                            $("#nutrition_tbody").append("<tr><td>" + value.name + "</td><td>" + value.amount + value.unit + "</td><td>" + percentFixed + "%</td></tr>");
                        });
                    } else {
                        // Handle other data types or errors
                        console.log('Data is not an array or object.');
                    }
                }).fail(function () {
                    console.log('An error occurred.');
                });
            }
        });


    });

</script>

{% endblock %}