{% extends "layout.html" %}

{% block content %}

<h3>Recipe</h3>

{% if validation_error %}

<div class="text-danger" style="text-col">
    Error: {{ validation_error }}
</div>
<hr />

{% endif %}

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="p-2">
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form action="/search/detail" method="post">
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="search_1">
            </form>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <span data-feather="home"></span>
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Ingredients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Nutrition
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Wine pairing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Similar recipes
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ recipes.title }}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-primary" name="btn_favourite" id="btn_favourite_id">Add Favourite</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                    </div>
                </div>
                {% if recipes %}
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <img class="rounded" src="{{ recipes.image }}" />
                        <p class="fs-10 fw-light fst-italic">{{ recipes.id }}</p>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/food-preparation-_1_.svg" alt="Preparation time:" height="50" width="50" title="Preparation time" />
                            <p class="flex-grow-1">{{ recipes.preparationMinutes }}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/cooking.svg" alt="Cooking time:" height="50" width="50" title="Cooking time" />
                            <p class="flex-grow-1">{{ recipes.cookingMinutes }}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="flex-grow-1" src="/static/knife.svg" alt="Ready in:" height="50" width="50" title="Ready in" />
                            <p class="flex-grow-1">{{ recipes.readyInMinutes }}</p>
                        </div>
                        <div class="d-inline-flex">
                            {% if dairyFree == True %}
                            <img class="flex-grow-1 py-1" src="/static/dairy-free.svg" alt="Dairy Free" height="50" width="50" title="Dairy Free" />
                            {% endif %}
                            {% if glutenFree == True %}
                            <img class="flex-grow-1 py-1" src="/static/gluten-free_1.svg" alt="Gluten Free" height="50" width="50" title="Gluten Free" />
                            {% endif %}
                            {% if vegan == True %}
                            <img class="flex-grow-1 py-1" src="/static/vegan_1.svg" alt="Vegan" height="50" width="50" title="Vegan" />
                            {% endif %}
                            {% if vegetarian == True %}
                            <img class="flex-grow-1 py-1" src="/static/vegetables.svg" alt="Vegetarian" height="50" width="50" title="Vegetarian" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <h2>Ingredients</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recipes %}
                            {% for ingredient in recipes.extendedIngredients %}
                            <tr>
                                <td>{{ ingredient.name }}</td>
                                {% if ingredient.measures.us.amount and ingredient.measures.metric.amount %}
                                {% if ingredient.measures.us.amount != ingredient.measures.metric.amount %}
                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }} ({{ ingredient.measures.metric.amount }} {{ ingredient.measures.metric.unitShort }})</td>
                                {% else %}
                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }}</td>
                                {% endif %}
                                {% else %}
                                <td>{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitShort }}</td>
                                {% endif %}
                                <td><img class="rounded" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredient.image }}" /></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <h2>Instructions</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Step</th>
                            </tr>
                        </thead>
                        {% if instructions %}
                        <tbody>
                            {% for number, instruction in instructions.items() %}
                            <tr>
                                <td>{{ instruction.number }}</td>
                                <td>{{ instruction.step }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </main>
        </div>
    </div>

</body>

<script>

    $(function () {

        $("#btn_favourite_id").click(function () {

            // This worked. ;)
            //$("#btn_favourite_id").text("Favourited");

            // This should work. 
            if ($("#btn_favourite_id").text() == "Add Favourite") {
                // Next step would be to do an ajax call to the server.

                $("#btn_favourite_id").text("Favourited");

                //$.post("/favourite-recipe",
                //{
                //    user_id: 1,
                //    recipe_id: 1234
                //},
                //function (data, status) {
                //    $("#btn_favourite_id").text("Favourited");
                //});
            }
            else {
                $("#btn_favourite_id").text("Add Favourite");
                
                //$.post("/unfavourite-recipe",
                //    {
                //        user_id: 1,
                //        recipe_id: 1234
                //    },
                //    function (data, status) {
                //        $("#btn_favourite_id").text("Add Favourite");
                //    });
            }

        });  

    });

</script>

{% endblock %}