{% extends "layout.html" %}

{% block content %}

<h3>Register new user</h3>

{% if validation_error %}

    <div style="text-col">
        Error: {{ validation_error }}
    </div>

{% endif %}

    <form action="/register" method="post">
        <div class="mb-3">
            <label class="label-register">Please enter first name</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="first_name" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label class="label-register">Please enter last name</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="last_name" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <label class="label-register">Please enter your email address</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="hello@world.com" type="email">
        </div>
        <div class="mb-3">
            <label class="label-register">Please enter a password</label>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <label class="label-register">Please confirm your password</label>
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}