{% extends "layout.html" %}

{% block content %}

<h3>Shopping List</h3>

{% if validation_error %}

<div class="text-danger text-col">
    Error: {{ validation_error }}
</div>

{% endif %}

{% if message %}
<h5>{{ message }}</h5>
{% endif %}

<main>
    {% if shopping %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Added</th>
                </tr>
            </thead>
            <tbody id="shopping_tbody">
                {% for item in shopping %}
                <tr id="shopping_id-{{ item.shopping_id }}">
                    <td>{{ item.ingredient_name }}</td>
                    <td class="p-1 align-right" style="width:1%;white-space:nowrap"><img class="rounded" src="{{ item.ingredient_image }}" alt="Mmm, yum yum" style="max-width: 250px; height: auto; display: block;" /></td>
                    <td>{{ item.quantity }}{{ item.unit }}</td>
                    <td>{{ item.date_added }}</td>
                    <td><button class="btn_fav-delete btn"><img id="DeleteGif" src="/static/trash-xmark.png" alt="Delete" /></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <p>Your shopping list is empty &#9785</p>
    {% endif %}
</main>
{% endblock %}
{% block footer %}
<a href="https://www.flaticon.com/free-icons/food-waste" title="food-waste icons" target="_blank" rel="noopener noreferrer">Food-waste icons created by Freepik - Flaticon</a>
{% endblock %}
{% block scripts %}

<script>
    $(function () {

        $(".btn_fav-delete").click(function () {
            let row = $(this).closest("tr");
            let recipe_id = row.find(".recipe_id").attr("value");
            let favourite_id = row.find(".favourite_id").attr("value");
            let user_id = $("#user_id").text();

            $.post("/favourite-recipe/" + recipe_id + "/user/" + user_id + "/delete/" + favourite_id,
                {
                    recipe_id: recipe_id,
                    user_id: user_id,
                    favourite_id: favourite_id
                })

                .done(function (response) {
                    $("#favourite_id-" + favourite_id).remove(); // remove the recipe card or row
                    showMessage("Recipe removed");
                })
                .fail(function (xhr) {
                    showMessage("Error" + xhr.responseText);
                });
        });

    });

</script>

{% endblock %}